
<div class="main-content home-wrapper">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">HARMAN HACKATHON- PROBLEM STATEMENT 5</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <mat-card>
                            <mat-card-content>
                                <div class="col-md-12 d-sm-block">
                                    Qualitative, open-ended, and deeper analysis of large number of collective customer feedback on eCommerce websites using Generative AI
                                    Problem Description: eCommerce websites receive a vast amount of customer feedback through reviews, ratings, and comments.
                                </div>
                            </mat-card-content>
                            <div class="confirm-button">
                                <button mat-raised-button class="btn btn-danger btn-block" (click)="navigate()">
                                  Let's Start
                                </button>
                            </div>
                          </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  